<!DOCTYPE html>
<html>
<head>
<link href="view/styles/navBar.css" rel="stylesheet" />
<title>Shop</title>
</head>
<body class="shop">
<ul>
<li></li>
<li></li>
<li></li>
<li></li>
</ul>






</body>
</html>