<!DOCTYPE html>
<html>
<head>
    <link href="view/styles/account.css" rel="stylesheet" />
    <title>Shop</title>
</head>
<body class="account">
<div class="topnav">
    <a href='/'>Home</a>
    <a href='/register'>register</a>
    <a href='/shop'>shop</a>
    <a href='/admin'>admin</a>
    <a href='/shopping'>winkelwagen</a>
    <a class="active" href='/account'>account</a>
</div>

<h1>Profiel</h1>

</body>
</html>