
<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
</head>
<body>
{{#data}}
<fieldset>
<h1>{{nameProduct}}</h1>
<h1>{{brand}}</h1>
<h1>{{price}} euro</h1>
<h1>{{describtion}}</h1>
<h1>{{stock}}</h1>
</fieldset>
{{/data}}
<form>
  <label for="fname">First name:</label><br>
  <input type="text" id="fname" name="fname"><br>
  <label for="lname">Last name:</label><br>
  <input type="text" id="lname" name="lname">
  <input type="submit" value="Submit">
</form>
<a href='/'>Home</a>





</body>
</html>