<!DOCTYPE html>
<html>
<head>
<link href="view/styles/home.css" rel="stylesheet" />
<title>Shop</title>
</head>
<body class="home">
<div class="topnav">
<a class="active" href='/'>Home</a>
<a href='/contact'>contact</a>
<a href='/login'>login</a>
<a href='/register'>register</a>
<a href='/shop'>shop</a>
<a href='/admin'>admin</a>
</div>

<h1>Home</h1>


</body>
</html>
