<!DOCTYPE html>
<html>
<head>
    <link href="/styles/register.css" rel="stylesheet"/>
    <title>Register</title>
</head>
<body class="register">
<div class="topnav">
    <a href='/'>Home</a>
    <a class="active" href='/register'>register</a>
    <a href='/shop'>shop</a>
    {{#session.admin}}<a href='/admin'>admin</a>{{/session.admin}}
    <a href='/shopping'>winkelwagen</a>
    {{#session.firstName}}<a href='/account'>account</a>{{/session.firstName}}
</div>

<form action="/registeruser" method="POST" class="formReg">
    <label>First name:</label>
    <input type="text" class="registerB" name="firstName">

    <label>Last name:</label>
    <input type="text" class="registerB" name="lastName">

    <label>E-mail:</label>
    <input type="text" class="registerB" name="email">

    <label>Password:</label>
    <input type="text" class="registerB" name="password">

    <label>Postcode:</label>
    <input type="text" class="registerB" name="postal">

    <label>Staat:</label>
    <input type="text" class="registerB" name="streetName">

    <label>Plaatsnaam:</label>
    <input type="text" class="registerB" name="city">

    <label>Land:</label>
    <input type="text" class="registerB" name="country">

    <label>Huisnummer:</label>
    <input type="text" class="registerB" name="houseNumber">

    <label>phone:</label>
    <input type="text" class="registerB" name="phone">

    <input class="btn" type="submit" value="Submit">
</form>

</body>
</html>