<!DOCTYPE html>
<html>
<head>
<link href="view/styles/shop.css" rel="stylesheet" />
<title>Shop</title>
</head>
<body class="shop">
<div class="topnav">
<a href='/'>Home</a>
<a href='/register'>register</a>
<a class="active" href='/shop'>shop</a>
<a href='/admin'>admin</a>
<a href='/shopping'>Winkelwagen</a>
</div>

<table class="productTab">
{{#data}}
<tr>
<td>Product: {{nameProduct}}</td>
<td>Merk: {{brand}}</td>
<td>Prijs: {{price}} euro</td>
<td>Specificatie: {{specification}}</td>
<td>Fitting: {{fitting}}</td>
<td>Infomatie: {{description}}</td>
<td>Voorraad: {{stock}}</td>
<td>{{category_name}}</td>
<td><a href="http://webshop2.0.xpdev/product?id={{id}}">Bestel</td>
<tr>
{{/data}}
</table>

</body>
</html>




