<!DOCTYPE html>
<html>
<head>
<link href="/styles/shop.css" rel="stylesheet" />
<title>Shop</title>
</head>
<body class="shop">
<div class="topnav">
    <a href='/'>Home</a>
    <a href='/register'>register</a>
    <a class="active" href='/shop'>shop</a>
{{#session.admin}}<a href='/admin'>admin</a>{{/session.admin}}
    <a href='/shopping'>Winkelwagen</a>
{{#session.firstName}} <a href='/account'>account</a>{{/session.firstName}}
</div>

<table class="productTab">
{{#data}}
<tr class="productTabel">
<th class="productTabel"><strong>Product: </strong>{{nameProduct}}</th>
<th class="productTabel"><strong>Merk: </strong>{{brand}}</th>
<th class="productTabel"><strong>Prijs: </strong>{{price}} euro</th>
<th class="productTabel"><strong>Specificatie: </strong>{{specification}}</th>
<th class="productTabel"><strong>Fitting: </strong>{{fitting}}</th>
<th class="productTabel"><strong>Infomatie: </strong>{{description}}</th>
<th class="productTabel"><strong>Voorraad: </strong>{{stock}}</th>
<th class="productTabel"><strong>Categorie: </strong>{{category_name}}</th>
<th class="productTabel"><a href="http://webshop2.0.xpdev/product?id={{id}}">Bestel</th>
<tr>
{{/data}}
</table>

</body>
</html>




