<!DOCTYPE html>
<html>
<head>
<link href="view/styles/shop.css" rel="stylesheet" />
<title>Shop</title>
</head>
<body>
<h1>Shop</h1>

<table>
{{#data}}
<tr>
<td>{{nameProduct}}</td>
<td>{{brand}}</td>
<td>{{price}} euro</td>
<td>{{specification}}</td>
<td>{{fitting}}</td>
<td>{{specification}}</td>
<td>{{stock}}</td>
<tr>
{{/data}}
</table>

</body>
</html>




