<!DOCTYPE html>
<html>
<head>
    <link href="view/styles/shopping.css" rel="stylesheet" />
    <title>Winkelwagen</title>
</head>
<body class="shopping">
<div class="topnav">
    <a href='/'>Home</a>
    <a href='/register'>register</a>
    <a href='/shop'>shop</a>
{{#session.admin}}<a href='/admin'>admin</a>{{/session.admin}}
    <a class="active" href='/shopping'>Winkelwagen</a>
{{#session.firstName}}<a href='/account'>account</a>{{/session.firstName}}
</div>
<h1>Winkelwagen</h1>

<table class="productTab">
    {{#data}}
        <tr>
            <td><strong>Product: </strong> {{nameProduct}}</td>
            <td><strong>Merk: </strong>{{brand}}</td>
            <td><strong>Prijs: </strong>{{price}} euro</td>
            <td><strong>Specificatie: </strong>{{specification}}</td>
            <td><strong>Fitting: </strong>{{fitting}}</td>
            <td><strong>Hoeveelheid: </strong>{{amount}}</td>
    <tr>
    {{/data}}
</table>

<form method="GET" action="">
    <input type="button" value="Afrekenen">
</form>

</body>
</html>